#### Import

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('cow_ssba.csv')
x = df['start_dates'].to_numpy().astype('float')
z = df['battle_deaths'].to_numpy().astype('int')
#x = np.append(x, 2024)
#z = np.append(z, 25000_000)

y = np.log(z)
n = len(x)

In [3]:
df2 = pd.read_csv('Inter-StateWarData_v4.0.csv')
df2.head()

,WarNum,WarName,WarType,ccode,StateName,Side,StartMonth1,StartDay1,StartYear1,EndMonth1,...,EndMonth2,EndDay2,EndYear2,TransFrom,WhereFought,Initiator,Outcome,TransTo,BatDeath,Version
0,1,Franco-Spanish War,1,230,Spain,2,4,7,1823,11,...,-8,-8,-8,503,2,2,2,-8,600,4
1,1,Franco-Spanish War,1,220,France,1,4,7,1823,11,...,-8,-8,-8,503,2,1,1,-8,400,4
2,4,First Russo-Turkish,1,640,Ottoman Empire,2,4,26,1828,9,...,-8,-8,-8,506,11,2,2,-8,80000,4
3,4,First Russo-Turkish,1,365,Russia,1,4,26,1828,9,...,-8,-8,-8,506,11,1,1,-8,50000,4
4,7,Mexican-American,1,70,Mexico,2,4,25,1846,9,...,-8,-8,-8,-8,1,2,2,-8,6000,4

In [4]:
names2 = df2['WarName'].to_numpy()
nums2 = df2['WarNum'].to_numpy()
zz2 = df2['BatDeath'].to_numpy().astype('float')

In [5]:
unique_nums2 = np.unique(nums2)
nn2 = len(unique_nums2)
z2 = np.zeros(nn2)

for i in range(nn2):
    for j in range(len(zz2)):
        if nums2[j] == unique_nums2[i]:
            z2[i] += zz2[j]

In [6]:
z2

array([1.0000000e+03, 1.3000000e+05, 1.9283000e+04, 7.5270000e+03,
       6.0000000e+03, 2.6000000e+03, 1.3000000e+03, 2.6420000e+05,
       2.0000000e+03, 2.2500000e+04, 1.0000000e+04, 1.0000000e+03,
       1.0000000e+03, 2.0000000e+04, 1.0000000e+03, 4.4810000e+03,
       3.1000000e+05, 1.0000000e+03, 4.4100000e+04, 2.0431300e+05,
       4.0000000e+03, 2.8500000e+05, 1.3868000e+04, 1.0079000e+04,
       1.2100000e+04, 1.0000000e+03, 1.5000000e+04, 2.0000000e+03,
       3.6850000e+03, 3.0030000e+03, 4.0000000e+03, 1.5183100e+05,
       1.0000000e+03, 1.0000000e+03, 1.0000000e+04, 2.0000000e+04,
       8.2000000e+04, 6.0500000e+04, 8.5780310e+06, 1.1750000e+04,
       1.3246000e+04, 1.0000000e+05, 1.1000000e+04, 5.0000000e+04,
       4.0000000e+04, 1.0000000e+03, 3.2000000e+03, 6.0000000e+04,
       9.2661000e+04, 2.1000000e+03, 2.0000000e+04, 1.0000000e+06,
       1.7260000e+03, 2.8000000e+04, 1.6634907e+07, 1.5179800e+05,
       1.4000000e+03, 3.5000000e+03, 8.0000000e+03, 9.1008400e+05,
       2.3700000e+03, 3.2210000e+03, 2.4260000e+03, 1.1220000e+03,
       1.8000000e+03, 1.8530000e+03, 1.0214420e+06, 7.0610000e+03,
       1.9600000e+04, 1.3866000e+04, 5.3680000e+03, 1.9000000e+03,
       6.5250000e+03, 1.1223000e+04, 1.4439000e+04, 1.5000000e+03,
       2.7000000e+03, 1.0500000e+04, 8.0000000e+03, 3.0000000e+03,
       2.1000000e+04, 1.2500000e+06, 1.0010000e+03, 1.6550000e+03,
       8.0000000e+03, 4.0000000e+03, 4.1466000e+04, 5.2400000e+03,
       1.4000000e+04, 1.5000000e+03, 1.2000000e+05, 5.0020000e+03,
       1.1720000e+03, 4.0020000e+03, 7.1730000e+03])